@import "tailwindcss";

@theme {
  --color-brand-primary: #10b981;
  --color-brand-secondary: #047857;
}

:root {
  --background: #09090b;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}